<style>
    .sidebar {
        height: 100vh;
        width: 250px;
        background-color: #645c8b;
        padding-top: 20px;
        position: fixed;
    }

    .sidebar a {
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
    }
</style>


<div class="sidebar">
    <a href="#" id="openFormButton">Create Ticket</a>
    <a href="/ticket/DepartmentView">Department Tickets</a>
    <a href="/ticket/EmployeeView">My Tickets</a>
    <a href="/employee/Logout">logout</a>
</div>