<!DOCTYPE html>
<html>

<head>
    <title>Socket.IO chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        body {
            margin: 0;
            padding-bottom: 3rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        #form {
            background: rgba(0, 0, 0, 0.15);
            padding: 0.25rem;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            height: 3rem;
            box-sizing: border-box;
            backdrop-filter: blur(10px);
        }

        #input {
            border: none;
            padding: 0 1rem;
            flex-grow: 1;
            border-radius: 2rem;
            margin: 0.25rem;
        }

        #input:focus {
            outline: none;
        }

        #form>button {
            background: #333;
            border: none;
            padding: 0 1rem;
            margin: 0.25rem;
            border-radius: 3px;
            outline: none;
            color: #fff;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages>li {
            padding: 0.5rem 1rem;
        }

        #messages>li:nth-child(odd) {
            background: #efefef;
        }
    </style>
    <!-- <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .chat-container {
            display: flex;
            height: 100vh;
        }

        .message-section {
            flex: 2;
            padding: 20px;
            overflow-y: auto;
        }

        #message-form {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #fff;
            padding: 10px;
        }

        #message-input {
            width: calc(100% - 80px);
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style> -->
</head>

<body>
    <!-- <div class="chat-container">
        <div class="message-section"> -->
    <!-- </div>
    </div>
 <form id="message-form">
        <select id="connected"> 
                    </select>
                    <input type="text" id="message-input" placeholder="Type your message here..." />
                    <button type="submit">Send</button>
                    </form> -->
    <ul id="messages">
        <% if (typeof messages !=='undefined' ) { %>
            <% messages.forEach(message=>{ %>
                <li> <span>
                        <% if (session.username !==message.sender ) { %>
                            <%=message.sender%>:
                                <% } else {%>
                                    You:
                                    <%}%>
                    </span>
                    <!-- <p class="message-text"> -->
                    <p>
                        <%=message.message%>
                    </p>
                </li>
                <% })%>
                    <% } %>
    </ul>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
        <input type="file">
    </form>
</body>
<script>
    var socket = io();
    // const messageForm = document.getElementById("message-form");
    // const msg = document.getElementById("message-input");
    // const messageSection = document.querySelector(".message-section");
    // const parentE = document.getElementById("connected");

    var form = document.getElementById('form');
    var input = document.getElementById('input');
    // Join the chat room for the selected ticket
    var ticketId = '<%= ticketId %>'
    var sessionUsername = '<%= session.username %>';
    socket.emit('join room', ticketId);

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        if (input.value.trim() !== "") {
            socket.emit('chat message', {
                ticketId,
                sender: sessionUsername,
                message: input.value.trim(),
            });
            input.value = '';
        }
    });

    socket.on('chat message', function (data) {
        // Display the received message in the UI
        const { sender, message } = data;
        var messages = document.getElementById('messages');
        var li = document.createElement('li');
        if (sessionUsername === sender) {
            li.innerHTML = `<span> You:</span> <p> ${message}<p>`;
        } else {
            li.innerHTML = `<span>${sender}:</span> <p>${message}<p>`;
        }

        messages.appendChild(li);
        messages.scrollTop = messages.scrollHeight;
    });
</script>

</html>